/* SCSS inheritance */
%automargin {
	margin: auto;
}

body{
	padding-top: 100px;
}


body.bg{
	background-image: url('ocean.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

body.senior {
	background-image: url('images/fiu.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	
}

#graph {
	border: 4px solid black;
	width: 80%;
	display: block;
	@extend %automargin;
	z-index: 1;
	
}

.overlay{
	background-color: white;
	opacity: 0.85;
	border: 1.5px solid black;
}

#profile_picture {
	border: 2.5px solid black;
	width: 50%;
	display: block;
	@extend %automargin;
}
@media screen and (min-width: 992px){
	#text, #logo {
		padding-left:30px;
	}
}

#poster {
	width: 100%; 
	height: 100%
}

/*Courses.html style*/
.table-space {
	padding-top: 25px;
}

.table-name {
	text-align: center;
	font-size: 16px;
}

.table {
	font-size: 16px;
	width: 95%;
	@extend %automargin;
}

